.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  overflow: hidden;
  background-color: rgb(228, 242, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 60px; /* Full width */
}

.navbar li{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: space-between;
  padding: 1px 15px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar :hover {
  background:rgb(228, 242, 255);
  color: rgb(157, 224, 33);
}

body{
  padding-top: 60px;
} 