.MyFridge {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-image {
  justify-content: center;
}
.itemParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  margin-bottom: 15px;
  margin-right: 15px;
}
.btnParent {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 150px;
}
.btn {
  margin-bottom: 50px !important;
  width: 100;
  height: 50px;
}
.MuiButton-label {
  font-size: 15px !important;
}
.addItem {
  margin-right: 50px !important;
}
.product-image {
  width: 200px;
  height: 200px;
}

.recipes {
  margin-top: 60px !important;
}

.label {
  font-family: Impact;
  font-size: 40px;
  font: bold;
  color: #ffad9c;
  
}
.label2{
  font-family: Impact;
  font-size: 40px;
  font: bold;
  color: #ffad9c;
  font-variant: normal;
}

.MuiInputBase-root{
  margin-bottom: 20px;

}

.space{
  margin-bottom: 45px;
  margin-top: 25px;
  
}

form{
  width: 300px;
}