.MyFridge{
    display: flex;
    flex-direction: row;
    
    
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-evenly;
    align-items: flex-start;

}
.product-image{
    width: 200px;
    height: 200px;
}   